@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --general-font: "Oleo Script", sans-serif;
  --background-color: rgb(147, 87, 4);
  --headerh1-color: rgb(82, 2, 93);
  --headerHs-color: rgb(222, 243, 69);
  --headerContent-bgColor: rgba(137, 137, 240, 0.252);
  --buttons-color: rgb(248, 191, 49);
  --button-text: rgb(35, 64, 75);
}

body {
  font-family: var(--general-font);
  font-size: 1rem;
  background-color: var(--background-color);
}

header {
  height: 450px;
  background-image: url(Assets/globe-2.jpg);
  background-size: cover;
  background-repeat: none;
  padding: 5px;
}

.header-content,
.quantity,
.frequency {
  display: flex;
  gap: 10px;
}

.box-content,
.header-content {
  background-color: var(--headerContent-bgColor);
}

.header-content {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100vw;
  height: 505px;
  margin-top: -60px;
}

.header-content h1 {
  font-size: 4rem;
  text-shadow: 2px 1.5px 1.5px;
  color: var(--headerh1-color);
}

.quantity,
.frequency {
  font-size: 1.5rem;
}

.quantity,
.frequency {
  color: var(--headerHs-color);
}

.searchbar {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.letters {
  height: 35px;
  width: 360px;
  border-radius: 15px;
  text-align: center;
  outline: none;
}

.letters:focus {
  outline: 1.5px solid blue;
}

.searchbar img {
  width: 25px;
}

.result {
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 5px;
  padding: 20px;
}

.box1 {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: -2px 2px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  text-shadow: 1px 1px 4px #000, 0 0 2px #fff;
  overflow: hidden;
}
